* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  width: 100vw;
  height: 100px;
  font-family: 'Poppins';
  background-color: rgba(31, 117, 39, 1);
  position: sticky;
  top: 0;
  z-index: 50;
}

header .inner {
  width: 1200;
  height: 100%;
  display: block;
  margin: auto;
  color: rgba(45, 167, 91, 0.795);
}

header .logo {
  display: table;
  height: 10% auto;
  float: left;
  vertical-align: middle;
  margin: auto;
}

header .logo div {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

header .logo img {
  height: 100px;
  vertical-align: middle;
  object-fit: scale-down;
}

p1 {
  color: white !important;
  font-size: 2.0vw !important;
  vertical-align: center !important;
  margin: auto !important;
  z-index: auto;
}

header nav {
  float: right;
  height: 100%;
}

header nav li {
  display: table;
  height: 100%;
  float: left;
  margin-right: 30px;
  font-size: 1.5vw
}

header nav li :hover{
  color: black;
}

header nav li:last-of-type {
  padding-right: 10px auto;
}

header nav span {
  display: table-cell;
  vertical-align: middle;
}

header nav a {
  color: #f8f8f8;
}

@media screen and (min-width: 480px) {}



/*footer design*/
.footer-basic {
  background-color: #221f1f;
  color: #f1f1f5;
  position: relative;
  height: 120px;

  clear: both;
  width: 100vw;

}


.footer-basic ul {
  padding: 10px;
  list-style: none;
  text-align: center;
  font-size: 15px;
  line-height: 1.0;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 5px;
  size: 5px;

}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 0px;
}

.footer-basic .social>a {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 3px;
  color: inherit;
  opacity: 0.75;
  box-align: bottom;
  padding-right:

}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 0px;
  text-align: center;
  font-size: 10px;
  color: #aaa;
  margin-bottom: 0;
}

body {

  min-height: 100%;
  background-image: linear-gradient( rgba(31, 117, 39, 0.795), rgba(14, 253, 94, 0.795)) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins' !important;
}



.title {
  font-size: 5vw;
opacity: 1 !important;
  font-family: 'Poppins';
  text-align: center;
  color: rgb(253, 253, 253,1) ;
  vertical-align: middle;
  padding-top: 6vw;
  -webkit-text-stroke: 2px black;

}
.desc {
  font-size: 2.5vw;
  opacity: 1;
  font-weight: 300;
  font-family: 'Poppins';
  text-align: center;
  margin-bottom: 2vh !important;
  color: rgb(253, 253, 253,1) ;
  vertical-align: middle;
  -webkit-text-stroke: 0.05vw black;
  
}

.heading{
  background-image: url(../our work/ourworkbg.jpg);
  background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height:20vw;
    
    vertical-align: middle;
    margin-bottom: 3vw;
 
   
    
   
    
    
}


.booktitle {
  font-size: 4vw;
  font-weight: 500;
  margin-bottom: 1vh;
  
  margin-bottom: 2vh;
}
.bookdesc {
  font-size: 3vw !important;
  float: left;
  margin-bottom: 3vh !important;
  width: 60vw;
  margin-left: 3vw !important;
  font-weight: 350;
}
.bookpic {

  width: 16vw;
  height: auto;
  float: right;
  margin-right: 5vw;
}



.fueltitle {
  font-size: 4vw;
  
  margin-bottom: 2vh;
  text-align: center;
}
.fueldesc {
  font-size: 2.2vw !important;
  float: left;
  margin-bottom: 3vh !important;
  margin-left: 3vw !important;
  width: 45vw;
  font-weight: 350;
}
.fuelpic {

  width: 34vw;
  height: auto;
  float: right;
margin-bottom: 2vw;;

  margin-right: 5vw !important;
}



.bintitle {
  font-size: 4vw;
  
  margin-bottom: 2vh;
  text-align: center;
 
  
}

.bindesc {
  font-size: 2.5vw !important;
  float: left;
margin-left: 3vw !important;
margin-bottom: 3vh !important;
  width: 50vw;
  font-weight: 350;
}
.binpic {

  width: 25vw !important;
  height: auto;
  float: right;
  display:inline;
  margin-right: 5vw;
  margin-bottom: 2vw;
}

.drivetitle {
  font-size: 4vw;
  
  margin-bottom: 2vh;
  text-align: center;
 
  
}

.drivedesc {
  font-size: 2.4vw !important;
  float: left;
margin-left: 3vw !important;
margin-bottom: 3vh !important;
  width: 43vw;
  font-weight: 350;
}
.drivepic {

  width: 39vw !important;
  height: auto;
  float: right;
  display:inline;
  margin-right: 5vw;
}
.signtitle {
  font-size: 4vw;
  
  margin-bottom: 2vh;
  text-align: center;
 
  
}

.signdesc {
  font-size: 2.8vw !important;
  float: left;
margin-left: 3vw !important;
margin-bottom: 3vh !important;
  width: 55vw;
  font-weight: 350;
}
.signpic {

  width: 25vw !important;
  height: auto;
  float: right;
  display:inline;
  margin-right: 5vw;
}

.familytitle {
  font-size: 4vw;
  
  margin-bottom: 2vh;
  text-align: center;
 
  
}

.familydesc {
  font-size: 2.5vw !important;
  float: left;
margin-left: 3vw !important;
margin-bottom: 3vh !important;
  width: 50vw;
  font-weight: 350;
}
.familypic {

  width: 31vw !important;
  height: auto;
  float: right;
  display:inline;
  margin-right: 5vw;
  border: #221f1f !important;
  border-width: 0.2vw !important;
  
}
tr{
  margin-left:auto;
  margin-right: auto;
  
}
td{
  background-color: rgb(96, 201, 101);
 padding-bottom: 6vh !important;
 padding-left: 2vw;
 padding-right: 2vw;
 background-clip:content-box !important;
 border-radius: 80px;
 border: #221f1f !important;
 border-width: 0.2vw !important;
}
 
#scrollup{
  position: fixed;
  right:10px;
  bottom:10px;
  width:70px;
  height:70px;
  border-radius: 50%;
  background:rgb(60, 141, 70);
  
  color: white;
  outline: none;
  cursor:pointer;
  border: none;
  z-index: +50;
  opacity: 0.8
}

.img {
  transition: 0.5s;
}

.img:hover {
  transform: translateY(-8px);
}
.scrollup:hover{
  opacity: 1;
}

html{
  scroll-behavior:smooth ;
}

.material-icons{
  font-size: 40px !important;
  margin-left: 13px !important;
 
  vertical-align: middle !important;
}



